body {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.logo {
    max-width: 200px;
    height: auto;
  }
  
  .hotel-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .customer-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .reservation-box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    height: 220px;
    /* Ajuste conforme necessário */
    overflow-y: auto;
  }
  
  .reservation-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .reservation-box ul li {
    margin-bottom: 5px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  #toastMessage {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #28a745;
    /* Cor verde success */
    color: #ffffff;
    /* Cor do texto */
    border-radius: 0.25rem;
    padding: 10px 20px;
  }